* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: hsl(300, 100%, 5%);
    overflow: hidden;
}
.navbar{
    background-color: darkblue!important;
}

.zoom1{
    overflow: hidden;
    height: 85vh;
    width: 100vh;
}

.zoom1 img{
    position: fixed;
    top: 0%;
    left: 50%;
    width: 100%;
    max-width: 200%;
    transform: translateX(-50%);
    /*z-index: 2;*/
    /* Thanks  @bastian_fiessinger. Use when activating blur effect:
    will-change: -webkit-filter, filter, transform; */
}

#earth{
    margin-top: 15vh;
    height: 500px;
    width: 500px;
    transform: translate3d(10%, -0%, 0) scale(1);
}


#section2{
    position: absolute;
    height: 170vh;
    overflow: hidden;
    top: 50vh;;
}

/*#section3{
    height: 100vh;
    width: 100vw;
}
*/

#moonSurface{
    position: absolute;
    padding-top: 30vh;
    top: -10vh;
    height: 100vh;
    width: 100%;
    z-index: 5;
}



#moonSurface2{
    position: relative;
    height: 130vh;
    width: 100%;
    z-index: 10;
}

#moonBlur{
    position: relative;
    top: -10vh;
    height: 60vh;
    width: 100%;
    z-index: 15;
}

#moonBlur2{
    position: relative;
    top: -80vh;
    height: 120vh;
    width: 100%;
    z-index: 15;
}

.container-fluid{
    overflow: hidden!important;
    padding: 0!important;
}

.bg1{
   /* background: url(../images/spaceBG.jpeg);
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 130vh;
    width: 100vw;
    z-index: -2000;
}





@media only screen and (max-width: 40em) {

#moonSurface{
position: absolute;
padding-top: 30vh;
top: -10vh;
height: 100vh;
width: 200%;
z-index: 5;
}



#moonSurface2{
    position: relative;
    height: 130vh;
    width: 200%;
    z-index: 10;
}

#moonBlur{
    position: relative;
    top: -10vh;
    height: 60vh;
    width: 200%;
    z-index: 15;
}

#moonBlur2{
    position: relative;
    top: -80vh;
    height: 120vh;
    width: 200%;
    z-index: 15;
}

}