* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: hsl(300, 100%, 5%);
}

#container{
    display: none;
}


/*loading aninmation -- working*/
/*.loader,
        .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
            top: 35vh;
            left: 0vw;
        }
        .loader {            
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(255, 255, 255, 0.2);
            border-right: 1.1em solid rgba(255, 255, 255, 0.2);
            border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
            border-left: 1.1em solid #ffffff;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        #loadingDiv {
            position:fixed;;
            top:0;
            left:0;
            width:100vw;
            height:100vh;
            background-color:#000;
        }
*/



/*loader2*/
*{margin:0;}

/*body{
  font: 200 16px/1 Helvetica, Arial, sans-serif;
}*/

/*img{width:32.2%;}*/

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,1);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}












#empty{
    height: 7400px;
    /*display: none;*/
}
#empty2{
    height: 5500px;
    display: none;
}

.navbar{
    background-color: darkblue!important;
    z-index: 999999999;
}

.hiThere{
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: 10vh;
    top: 30vh;
    text-align: center;
    z-index: 300;
}


.zoom1{
    overflow: hidden;
    height: 85vh;
    width: 100vh;
}

.zoom1 img{
    position: fixed;
    top: 0%;
    left: 50%;
    width: 100%;
    max-width: 200%;
    transform: translateX(-50%);
    /*z-index: 2;*/
    /* Thanks  @bastian_fiessinger. Use when activating blur effect:
    will-change: -webkit-filter, filter, transform; */
}

#earth{
    margin-top: 15vh;
    height: 500px;
    width: 500px;
    transform: translate3d(10%, -0%, 0) scale(1);
}


.section2{
    position: absolute;
    height: 170vh;
    /*overflow: hidden;*/
    top: 50vh;
}


.tobeFix{
    position: fixed;
}


.moonSurface{
    position: absolute;
    padding-top: 30vh;
    top: -10vh;
    height: 100vh;
    width: 100%;
    z-index: 5;
}


#moonSurface2{
    position: relative;
    margin-top: 10px;
    height: 130vh;
    width: 100%;
    z-index: 10;
    /*display: none;*/
}

#moonBlur{
    position: relative;
    top: -10vh;
    height: 60vh;
    width: 100%;
    z-index: 17;
    /*display: none;*/
}


#moonBlur2{
    position: relative;
    top: -10vh;
    height: 120vh;
    width: 100%;
    z-index: 20;
    /*display: none;*/
}

#bgDiv{

    position: absolute;
    top: 400vh;
    background-color: hsl(300, 100%, 5%);
    min-height: 130vh;
    width: 100%;
    z-index: 0;
    display: none;
}

.container-fluid{
    overflow: hidden!important;
    padding: 0!important;
}

.bg1{
   /* background: url(../images/spaceBG.jpeg);
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 130vh;
    width: 100vw;
    z-index: -2000;
}


#astronaut{
    position: absolute;
    top: 40vh;
    left: 20vw;
    height: 20vh;
    z-index: 0;
}


#chat1, #chat2, #chat3{
    position: absolute;
    top: 18vh;
    left: 25vw;
    height: 25vh;
    width: 18em;
    z-index: 10;
    display: none;
}

#chat4, #chat5{
    position: absolute;
    top: 50vh;
    left: 25vw;
    height: 25vh;
    width: 18em;
    z-index: 12;
    display: none;
}

#chat6{
    position: absolute;
    top: 18vh;
    left: 25vw;
    height: 25vh;
    width: 18em;
    z-index: 0;
    display: none;
}

#mars{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 5vh;
    z-index: 15;
    display: none;
}

#marsColony{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 99999;
}

/*martin, marcus, marlon: the martians*/

#martian1{
    position: fixed;
    bottom: 0vh;
    left: 10vw;
    height: 50vh;
    width: 20vw;
    display: none;
    z-index: 999991;
    display: none;
}

#martian2{
    position: fixed;
    bottom: 0vh;
    left: 30vw;
    height: 50vh;
    width: 20vw;
    display: none;
    z-index: 99999;
}

#martian3{
    position: fixed;
    bottom: 0vh;
    left: 50vw;
    height: 50vh;
    width: 20vw;
    display: none;
    z-index: 999991;
}

#astronautMe{
    position: fixed;
    bottom: 0vh;
    left: 70vw;
    height: 60vh;
    width: 30vw;
    display: none;
    z-index: 999991;
}



#name{
    position: fixed;
    top: 50vh;
    left: 0vh;
    display: none;
    z-index: 9999999;
}

#userName{
    position: fixed;
    top: 55vh;
    left: 0vh;
    display: none;
    z-index: 99999999;
}

@font-face {
    font-family: "comics";
    src: url(../fonts/chinrg.ttf);
}

#frame{
    display: table;
    position: fixed;
    top: 75px;
    left: 0vw;
    border: 2px solid black;
    height: 70px;
    width: 100vw;
    padding-left: 3em;
    padding-right: 1em;
    font-family: "comics";
    font-size: 2em;
    color: black;
    background-color: white;
    z-index: 999999;
 }

#frameText{
    display: table-cell;
    vertical-align: middle;
 }

.martianAvatar{
    position: fixed;
    top: 43px;
    left: 3px;
    height: 100px;
    width: 70px;
    display: none;
    z-index: 999999;
}

#inputValue{
  text-transform: capitalize;
  color: red;
  font-weight: bold;
}

.valText{
    color: red;
    font-weight: bold;
}

.valTextLink{
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

#hiName{
    position: absolute;
    top: 7050px;
}

#about{
    position: absolute;
    top: 11500px;
}


.dim{
    filter: brightness(60%);
}

.orb{
    position: fixed;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    cursor: pointer;
    z-index: 999999999;
}

#orb1{
    left: 50vw;
    bottom: 30vh;
    display: none;
}


.orbLabel{
    color: white;
    /*background-color: white;*/
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    font-family: "comics";
    font-size: 15px;
    display: block;
    z-index: 999999999;
}

#resume{
    position: fixed;
    left: 51vw;
    bottom: 32vh;
    cursor: pointer;
    display: none;
}

#orb2{
    left: 30vw;
    bottom: 45vh;
    display: none;
}

#projects{
    position: fixed;
    left: 30.5vw;
    bottom: 47vh;
    cursor: pointer;
    display: none;
}

#orb3{
    left: 17.3vw;
    bottom: 20vh;
    display: none;
}


#skills{
    position: fixed;
    left: 19vw;
    bottom: 22vh;
    cursor: pointer;
    display: none;
}

.projectsPic{
    height: 100%;
    width: 100%;
    display: inline-block;
}

.marginTop1em{
    margin-top: 1em;
}

.card{
    min-height: 100%;
}

.card > img{
    cursor: pointer;
}

.card-body{
    height: 200px;
    overflow-y: scroll;
}


.skillsContainer{
    text-align: right;
}

.skillsContainer > img{
    height: 55px;
    width: 50px;
}

.progress{
    margin-top: 25px;
}

.progress-bar{
    font-weight: bold;
    text-align: center!important;
}













/*mobile phone + galaxies*/
@media only screen and (max-width: 40em){

    #empty{
        height: 7500px;
    }
    #empty2{
        height: 5500px;
        display: none;
    }

    #moonSurface{
        position: absolute;
        padding-top: 30vh;
        top: -10vh;
        height: 100vh;
        width: 150%;
        z-index: 5;
    }



    #moonSurface2{
        position: relative;
        height: 130vh;
        width: 150%;
        z-index: 10;
    }

    #moonBlur{
        position: relative;
        top: -10vh;
        height: 60vh;
        width: 150%;
        z-index: 15;
    }

    #moonBlur2{
        position: relative;
        top: -80vh;
        height: 120vh;
        width: 150%;
        z-index: 20;
    }

    #chat1, #chat2, #chat3{
        position: absolute;
        top: 18vh;
        left: 25vw;
        height: 25vh;
        width: 12em;
        z-index: 2000;
        display: none;
    }

    #chat4, #chat5{
        position: absolute;
        top: 50vh;
        left: 25vw;
        height: 25vh;
        width: 12em;
        z-index: 2000;
        display: none;
    }

    #martian1{
        position: fixed;
        bottom: 0vh;
        left: 20vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 999991;
        display: none;
    }

    #martian2{
        position: fixed;
        bottom: 0vh;
        left: 0vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 99999;
        display: none;
    }

    #martian3{
        position: fixed;
        bottom: -2vh;
        left: 35vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 999991;
        display: none;
    }

    #astronautMe{
        position: fixed;
        bottom: 0vh;
        left: 55vw;
        height: 60vh;
        width: 50vw;
        display: none;
        z-index: 999991;
        display: none;
    }

    .martianAvatar{
        position: fixed;
        top: 57px;
        left: 0vw;
        height: 60px;
        width: 50px;
        display: none;
        z-index: 999999;
        display: none;
    }

    #frame{
        display: table;
        position: fixed;
        top: 75px;
        left: 0vw;
        padding-left: 4.3em;
        padding-right: 1em;
        border: 2px solid black;
        height: 43px;
        width: 100vw;
        font-family: "comics";
        font-size: 0.8em;
        color: black;
        background-color: white;
        z-index: 999999;
        /*display: none;*/
     }

     #frameText{
        display: table-cell;
        vertical-align: middle;
     }

    .orb{
        position: fixed;
        height: 60px;
        width: 60px;
        border-radius: 40px;
        cursor: pointer;
        z-index: 999999999;
    }

    #orb1{
        left: 3vw;
        bottom: 1vh;
        display: none;
    }


    .orbLabel{
        color: white;
        /*background-color: white;*/
        text-shadow: 0 0 5px #000000, 0 0 5px #000000;
        font-family: "comics";
        font-size: 15px;
        display: block;
        z-index: 999999999;
    }

    #resume{
        position: fixed;
        left: 4vw;
        bottom: 1.5vh;
        display: none;
    }

    #orb2{
        left: 30vw;
        bottom: 1vh;
        display: none;
    }

    #projects{
        position: fixed;
        left: 29.5vw;
        bottom: 1.5vh;
        display: none;
    }

    #orb3{
        left: 56.3vw;
        bottom: 1vh;
        display: none;
    }


    #skills{
        position: fixed;
        left: 60.3vw;
        bottom: 1.5vh;
        cursor: pointer;
        display: none;
    }

    .skillsContainer{
        text-align: left;
    }

}

















/*mobile phone and iphone*/
@media only screen and (max-width: 21em){

    #empty{
        height: 7250px;
    }
    #empty2{
        height: 5500px;
        display: none;
    }

    #moonSurface{
        position: absolute;
        padding-top: 30vh;
        top: -10vh;
        height: 100vh;
        width: 150%;
        z-index: 5;
    }



    #moonSurface2{
        position: relative;
        height: 130vh;
        width: 150%;
        z-index: 10;
    }

    #moonBlur{
        position: relative;
        top: -10vh;
        height: 60vh;
        width: 150%;
        z-index: 15;
    }

    #moonBlur2{
        position: relative;
        top: -80vh;
        height: 120vh;
        width: 150%;
        z-index: 20;
    }

    #chat1, #chat2, #chat3{
        position: absolute;
        top: 18vh;
        left: 25vw;
        height: 25vh;
        width: 12em;
        z-index: 2000;
        display: none;
    }

    #chat4, #chat5{
        position: absolute;
        top: 50vh;
        left: 25vw;
        height: 25vh;
        width: 12em;
        z-index: 2000;
        display: none;
    }

    #martian1{
        position: fixed;
        bottom: 0vh;
        left: 20vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 999991;
        display: none;
    }

    #martian2{
        position: fixed;
        bottom: 0vh;
        left: 0vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 99999;
        display: none;
    }

    #martian3{
        position: fixed;
        bottom: -2vh;
        left: 35vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 999991;
        display: none;
    }

    #astronautMe{
        position: fixed;
        bottom: 0vh;
        left: 55vw;
        height: 60vh;
        width: 50vw;
        display: none;
        z-index: 999991;
        display: none;
    }

    .martianAvatar{
        position: fixed;
        top: 57px;
        left: 0vw;
        height: 60px;
        width: 50px;
        display: none;
        z-index: 999999;
        display: none;
    }

    #frame{
        display: table;
        position: fixed;
        top: 75px;
        left: 0vw;
        padding-left: 4.3em;
        padding-right: 1em;
        border: 2px solid black;
        height: 43px;
        width: 100vw;
        font-family: "comics";
        font-size: 0.8em;
        color: black;
        background-color: white;
        z-index: 999999;
        /*display: none;*/
     }

     #frameText{
        display: table-cell;
        vertical-align: middle;
     }

    .orb{
        position: fixed;
        height: 60px;
        width: 60px;
        border-radius: 40px;
        cursor: pointer;
        z-index: 999999999;
    }

    #orb1{
        left: 4vw;
        bottom: 1vh;
        display: none;
    }

    .orbLabel{
        color: white;
        /*background-color: white;*/
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
        font-family: "comics";
        font-size: 15px;
        display: block;
        z-index: 999999999;
    }

    #resume{
        position: fixed;
        left: 5.5vw;
        bottom: 2vh;
        display: none;
    }

    #orb2{
        left: 30vw;
        bottom: 1vh;
        display: none;
    }

    #projects{
        position: fixed;
        left: 29vw;
        bottom: 2vh;
        display: none;
    }

    #orb3{
        left: 56vw;
        bottom: 1vh;
        display: none;
    }


    #skills{
        position: fixed;
        left: 60.3vw;
        bottom: 2vh;
        cursor: pointer;
        display: none;
    }

    .skillsContainer{
        text-align: left;
    }

}








/*ipad*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

    #empty{
        height: 8000px;
    }
    #empty2{
        height: 6000px;
        display: none;
    }


    #moonSurface{
    position: absolute;
    padding-top: 30vh;
    top: -10vh;
    height: 100vh;
    width: 200%;
    z-index: 5;
    }



    #moonSurface2{
        position: relative;
        height: 130vh;
        width: 200%;
        z-index: 10;
    }

    #moonBlur{
        position: relative;
        top: -10vh;
        height: 60vh;
        width: 200%;
        z-index: 15;
    }


    #moonBlur2{
        position: relative;
        top: -80vh;
        height: 120vh;
        width: 200%;
        z-index: 20;
    }

    #martian1{
        position: fixed;
        bottom: 0vh;
        left: 15vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 999991;
        display: none;
    }

    #martian2{
        position: fixed;
        bottom: 0vh;
        left: 0vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 99999;
    }

    #martian3{
        position: fixed;
        bottom: -2vh;
        left: 30vw;
        height: 50vh;
        width: 40vw;
        display: none;
        z-index: 999991;
    }

    #astronautMe{
        position: fixed;
        bottom: 0vh;
        left: 55vw;
        height: 60vh;
        width: 50vw;
        display: none;
        z-index: 999991;
    }

    #orb1{
        left: 1vw;
        bottom: 54vh;
        display: none;
    }

    .orbLabel{
        color: white;
        /*background-color: white;*/
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
        font-family: "comics";
        font-size: 15px;
        display: block;
        z-index: 999999999;
    }

    #resume{
        position: fixed;
        left: 3vw;
        bottom: 55.5vh;
        display: none
    }

    #orb2{
        left: 22vw;
        bottom: 54vh;
        display: none;
    }

    #projects{
        position: fixed;
        left: 23.5vw;
        bottom: 55.5vh;
        display: none;
    }

    #orb3{
        left: 42.3vw;
        bottom: 54vh;
        display: none;
    }


    #skills{
        position: fixed;
        left: 45.5vw;
        bottom: 55.5vh;
        cursor: pointer;
        display: none;
    }

}












/*wide screen*/
@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
    #empty{
        height: 7800px;
    }
    #empty2{
        height: 6000px;
        display: none;
    }

    #orb1{
        left: 50vw;
        bottom: 30vh;
        display: none;
    }

    .orbLabel{
        color: white;
        /*background-color: white;*/
        text-shadow: 0 0 10px #000000, 0 0 10px #000000;
        font-family: "comics";
        font-size: 15px;
        display: block;
        z-index: 999999999;
    }

    #resume{
        position: fixed;
        left: 50.7vw;
        bottom: 31.5vh;
        display: none
    }

    #orb2{
        left: 30vw;
        bottom: 45vh;
        display: none;
    }

    #projects{
        position: fixed;
        left: 30.5vw;
        bottom: 46.5vh;
        display: none;
    }

    #orb3{
        left: 17.8vw;
        bottom: 20vh;
        display: none;
    }


    #skills{
        position: fixed;
        left: 19vw;
        bottom: 21vh;
        cursor: pointer;
        display: none;
    }

}